@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');
body {
    display: table;
    font-family: 'Noto Sans TC', sans-serif;    
    font-style: normal;
    Letter-spacing:0.5px;
}

.sidebar,
.page-content {
    display: table-cell;
}

#nprogress .bar {
    background: #B62122 !important;
    height: 4px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px #B62122, 0 0 5px #B62122 !important;
}

#nprogress .spinner-icon {
    border-top-color: #B62122 !important;
    border-left-color: #B62122 !important;
}

#nprogress .spinner {
    position: fixed !important;
    top: unset !important;
    bottom: 15px !important;
    right: 15px !important;
}

.hover-button .hover-button--on,
.hover-button:hover .hover-button--off {
    display: none;
}

.hover-button:hover .hover-button--on {
    display: inline;
}

.rc-calendar-selected-day .rc-calendar-date {
    background: #ffe5e5 !important;
}

.rc-calendar {
    border: none !important;
    box-shadow: none !important;
    width: 100% !important;
}

.rc-calendar-selected-date .rc-calendar-date {
    background: #B62122 !important;
    color: #fff !important;
    transition: all 0.15s ease-in-out !important;
}

.rc-calendar-selected-date .rc-calendar-date:hover {
    background: #f32b2d !important;
    color: #fff !important;
}

.rc-calendar-today .rc-calendar-date {
    border: #B62122 solid 1px !important;
    transition: all 0.15s ease-in-out !important;
}

.rc-calendar-date:hover {
    background: #ffe5e5 !important;
}

.web-add-text {
    width: 89px;
    height: 59;
    left: 199px;
    top: 205px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.085em;
    color: #B62122;
}

.w-screen {
    width: 99vw;
}

.web-add-box {
    width: 174px;
    height: 62px;
    left: 152px;
    top: 195px;
    background: #FFFFFF;
    box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.07);
    border-radius: 31px;
}

.min-h-80vh {
    min-height: 85vh;
}

.login-background {
    background: #FBFBFB;
}
.primary-3-Primary-bk{
    background-color: #E7142D;
}
.login-box {

    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.04);
    border-radius: 16px;
}

.login-error {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #EE415D;
    flex: none;
    order: 1;
    flex-grow: 1;
}

.portal-link {
    background: #FFFFFF;
    /* Neutral Colors/5 LightGrey */

    border: 1px solid #D3D3D3;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.portal-link:hover {
    background: #FFF7F7;
    /* Primary/3 Primary */

    border: 1px solid #E7142D;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.portal-tatle {
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.8px;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-weight: 400;
}

.portal-context {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #7C7C7C;
}

.neutral-colors-5-LightGrey-border {
    border-color: #D3D3D3;

}
.font-12{
    font-size: 14px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-24{
    font-size: 24px;
}
.h-128 {
    height: 24rem;
}

.w-128 {
    width: 32rem;
}

.Neutral-Colors-DarkGrey {
    color: #505050;
}

.pl-96 {
    padding-left: 18rem;
}

.ml-96 {
    margin-left: 18rem;
}

.Primary-3-Primary-text {
    color: #E7142D
}

.bg-Primary-Primary2 {
    --tw-bg-opacity: 1;
    background-color: rgb(231 20 45 / var(--tw-bg-opacity));

}

.pass-wrapper {
    position: relative;
    /* display: flex;*/
    margin-bottom: 14px;
}

.pass-wrapper>i {
    position: absolute;
    top: 38%;
    margin-left: -2rem;
    margin-top: 0.25rem
        /* right: 16%;*/
}

.isActive-off {
    background-color: #FFF1F3;
    font-weight: 500;
    border-radius: 10px;
}

.pl-heard {
    left: 0px;
    padding-left: 73%;
}

.heard-notifi-red {
    color: white;
    z-index: 99;
    font-size: 0.7em;
    background-color: #EE415D;
    min-width: 1.5rem;
    text-align: center;
    height: 1.5em;
    left: 108em;
    top: 15px;
    text-align: center;
    -webkit-border-radius: 2.75em;
    border-radius: 2.75em;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left: 0.8rem;
    margin-top: -1.5rem;
}

.heard-name-circle {
    background-color: #FFF3F5;
    width: 1.7em;
    height: 1.7em;
    padding-top: 0.05em;
    margin-top: -0.2em;
    margin-left: 0.3em;
    text-align: center;
    color: #E7142D;
    font-weight: 500;
}

.heard-name {
    margin-left: 0.2em;
    margin-top: -0.1em;
    font-weight: 500;
}

.sideBar-shadow {
    box-shadow: inset -1px 0px 0px #F0F0F0;
}

.navName {
    right: 5rem;
    top: 1.3rem;
    z-index: 100;
    font-size: 14px;
}

.nav-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.nav-title-black {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #252525;
}

.nav-title-gray {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7C7C7C;
}

.welcomeText {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0.02em;
    color: #252525;

}

.subWelcomeText {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #7C7C7C;

}

.dashboardCard {
    background: #FFFFFF;
    backdrop-filter: blur(40px);
    border-radius: 12px;
}

.dashboard-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #252525;
}

.dashboard-iconBox {
    width: 44px;
    height: 44px;
    border-radius: 8px;
}

.dashboard-subTitle {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #7C7C7C;
}

.dashboardCard-analyze {

    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #18C483;
}

.dashboard-AChart-Button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #F2F3F5;
    border-radius: 8px;
}

.neutral-colors-1-black-text {
    color: #252525;
}

.dashboardCard-value {
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    /* identical to box height, or 143% */

    letter-spacing: 0.02em;

    /* Neutral Colors/1 Black */

    color: #252525;
}

.dashboardCard-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    /* Character / Secondary .45 */

    color: rgba(0, 0, 0, 0.45);
}

.cool-gray-09-text {
    color: #626D7D;

}

.dashboardCard-analyze-percentage {
    width: 66px;
    background: #EBFAF5;
    border-radius: 61.2328px;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #18C483;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.webpage-title {
    background: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    align-items: center;
    color: #505050;
    box-sizing: content-box;
}

.DataTable-quantitylimit {
    border: 0;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.DataTable-title {
    background: #FFFFFF;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #A7A7A7;
}

.DataTable-body {
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    color: #505050;
    background-color: #FFFFFF;
}

.table-header {
    background: #F7F8FA;
    border-radius: 8px 8px 0px 0px;
}

.table-state-green {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    /* Functional/Success/1 active */

    color: #0FAA70;
    background: #EBFAF5;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.table-state-green-bell {
    width: 6px;
    height: 6px;
    background: #20CB8B;
    border-radius: 999px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.table-state-yello {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    /* Functional/Success/1 active */

    color: #CA9027;
    background: #FEF7EA;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.table-state-yello-bell {
    width: 6px;
    height: 6px;
    background: #E4A32C;
    border-radius: 999px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.table-checkbox {
    background: #FFFFFF;
    /* Neutral Colors/5 LightGrey */

    border: 1px solid #D3D3D3;
    border-radius: 2px;
}

.table-state-red {
    background: #FDEBEE;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    display: flex;
    align-items: center;
    letter-spacing: 0.4px;

    /* Functional/Error/2 hover */

    color: #D53A53;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.table-state-red-bell {
    width: 6px;
    height: 6px;
    background: #EE415D;
    border-radius: 999px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.table-sreach {
    padding: 5px 12px;
    gap: 8px;



    /* neutral/white */

    background: #FFFFFF;
    /* neutral/tone 6 whitegrey */

    border: 1px solid #E9E9E9;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.table-insert-btn {
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 6px;

    /* Primary/3 Primary */

    background: #E7142D;
    border-radius: 4px;

    /* Inside auto layout */
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */

    text-align: center;
    letter-spacing: 0.4px;

    /* Neutral Colors / 9 White */

    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.table-list-checked {
    background: #FFF3F5;
    box-shadow: 0px -1px 0px #F0F0F0;
}

.table-list {
    box-shadow: 0px -1px 0px #F0F0F0;
}

.table-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
    letter-spacing: 0.4px;
    color: #7C7C7C;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-shadow: 0px -1px 0px #F0F0F0;

}

.table-footer>select {
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    gap: 6px;
    width: 60px;
    height: 25px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    letter-spacing: 0.4px;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bg-Primary-3-Primary {
    background-color: #E7142D;
}

.table-page {
    align-items: right;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    gap: 6px;
    width: 25px;
    height: 25px;
    order: 1;
    font-size: 14px;
    margin-left: 10px;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 1px solid #D3D3D3;

}

.z-100 {
    z-index: 100;
}

.blog-clear-btn {
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #505050;
    font-weight: 500
}

.blog-view-btn {
    background: #FFFFFF;
    border: 1px solid #E7142D;
    border-radius: 4px;
    color: #E7142D;
    font-weight: 500
}

.blog-class-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.blog-class-input {
    background: #FFFFFF;
    /* Neutral Colors/5 LightGrey */

    border: 1px solid #D3D3D3;
    border-radius: 4px;
    height: 40px;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.blog-class-input::placeholder {
    color: #A7A7A7;
    padding: -2;
}

.functional-Error-3-text {
    color: #EE415D
}

.neutral-colors-4-grey-text {
    color: #A7A7A7
}

.rdw-editor-wrapper {
    background-color: white;
    border: 1px solid #D3D3D3;

}

.public-DraftStyleDefault-block {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.rdw-editor-main {
    min-height: 200px;
}

.ml-1 {
    margin-left: 0.25rem;
}

.blog-details {
    background: #FFFFFF;
    box-shadow: inset 1px 0px 0px #F0F0F0;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #505050;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.DraftEditor-root {
    line-height: 2px;
}

.makeStyles-root-9 {
    border: 2px solid #eee;
    opacity: 0.75;
    padding: 24px;
    position: relative;
    border-color: #303f9f;
    border-style: dashed;
    border-radius: 8px;
}

.MuiBox-root-11 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.makeStyles-root-10 {
    background-color: rgb(255, 255, 255);
}

.MuiSvgIcon-fontSizeLarge {
    font-size: 2.1875rem;
}

.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}

.MuiTypography-body1 {
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.MuiTypography-root {
    margin: 0;
}

.imgUpload>label {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 322px;
    height: 48px;
    border: 2px dashed #D3D3D3;
    padding: 85px 16px 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    background-color: white;
    height: 240px;
    text-align: center;
    flex-direction: column;
    width: 83.333333%;
}

.imgUpload>label>input {
    display: none;
    background: unset;
    border-color: inherit;
    border-width: 0;
    border-radius: 0;
    padding: 0;
    font-size: unset;
    line-height: inherit;
}


.file-types {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: 0.4px;

    /* neutral/tone 4 grey */

    color: #A7A7A7;
}

.file-upload-drop-text {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #7C7C7C;
}

.file-upload-drop-text-red {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.4px;
    color: #EE415D;
}

.file-upload-drop-state {
    height: 64px;

    /* Neutral Colors / 9 White */

    background: #FFFFFF;
    /* Neutral Colors/6 WhiteGrey */

    border: 1px solid #E9E9E9;
    border-radius: 4px;
}

.file-upload-drop-state>img {
    padding: 14px;
    gap: 10px;
}

.table-img {
    width: auto;
    height: 100px;
}

.table-tag {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.2px;
    color: #E7142D;
}

.table-tag-class {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 1.2px;
    border: 1px solid #D3D3D3;
    border-radius: 50px;
}

.table-tag-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    /* identical to box height */
    letter-spacing: 1px;
    color: #000000;
}

.negotiate-button {
    padding: 5px 8px;
    gap: 4px;
    width: 132px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
}

.Template-Fileupload {
    width: 160px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E7142D;
    border-radius: 4px;
    color: #E7142D;
<<<<<<< Updated upstream
    font-weight: 600;
=======
    font-weight: 500;
}
.Negotiate-Fileupload {
    width: 360px;
    height: 32px;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    color: #7C7C7C;
    font-weight: 500;
>>>>>>> Stashed changes
}